<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Scorpio.Outlook.AddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<Scorpio.Outlook.AddIn.Properties.Settings>
   <setting name="RedmineApiKey" serializeAs="String">
    <!--<value>0a074de714f3ddee51d64cd8c8a0722846bf535d</value>-->
     <value>40ffd5158ed7312575ad4f8c5257ff89ca64cf12</value>
   </setting>
   <setting name="RedmineURL" serializeAs="String">
    <value>192.168.0.93</value>
   </setting>
   <setting name="RedmineHolidayIssue" serializeAs="String">
    <value>80</value>
   </setting>
   <setting name="RedmineUseOvertimeIssue" serializeAs="String">
    <value>82</value>
   </setting>
   <setting name="LastIssueSyncDate" serializeAs="String">
    <value>1900-01-01</value>
   </setting>
   <setting name="LastUsedIssues" serializeAs="String">
    <value />
   </setting>
   <setting name="FavoriteIssues" serializeAs="String">
    <value />
   </setting>
   <setting name="RefreshTime" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="LimitForIssueNumber" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="NumberLastUsedIssues" serializeAs="String">
    <value>15</value>
   </setting>
  </Scorpio.Outlook.AddIn.Properties.Settings>
	</userSettings>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${APPDATA}\SCORPIO\SCORPIO.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
	<startup/></configuration>
